

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

##### Kanigui Frejus SORO

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [1]:
ma_liste=[]

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [2]:
l=["Bonjour",1,5,"vu",10]
l

['Bonjour', 1, 5, 'vu', 10]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [3]:
print(len(l))

5

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [5]:
print(l[0])
print(l[2])
print(l[4])

Bonjour
5
10

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [6]:
mixed_data_types=["SORO",24,184,"Celibataire","M'bour"]
mixed_data_types

['SORO', 24, 184, 'Celibataire', "M'bour"]

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

In [51]:
it_companies=["Facebook","Google","Microsoft","Apple","IBM","Oracle","Amazon"]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

2. Imprimez la liste √† l'aide de print()

In [27]:
print(len(it_companies))

7

3. Imprimez le nombre d'entreprises dans la liste

In [28]:
print(it_companies[0])
print(it_companies[3])
print(it_companies[6])

Facebook
Apple
Amazon

4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

In [29]:
it_companies[0]='le '+ it_companies[0]
it_companies

['le Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

In [30]:
it_companies.append('Twitter')
print(it_companies)

['le Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Twitter']

6. Ajout d'une entreprise informatique √† it_companies

In [31]:
it_companies.insert(4,'Intagram')
print(it_companies)

['le Facebook', 'Google', 'Microsoft', 'Apple', 'Intagram', 'IBM', 'Oracle', 'Amazon', 'Twitter']

7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

In [32]:
it_companies[2]=it_companies[2].upper()
print(it_companies)

['le Facebook', 'Google', 'MICROSOFT', 'Apple', 'Intagram', 'IBM', 'Oracle', 'Amazon', 'Twitter']

8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

In [33]:
c='#; '
it_companies = c.join(it_companies)
print(it_companies)

le Facebook#; Google#; MICROSOFT#; Apple#; Intagram#; IBM#; Oracle#; Amazon#; Twitter

9. Joignez les it_companies avec une cha√Æne '# ; '.

In [34]:
it_companies = it_companies.split(';')
print(it_companies)

['le Facebook#', ' Google#', ' MICROSOFT#', ' Apple#', ' Intagram#', ' IBM#', ' Oracle#', ' Amazon#', ' Twitter']

10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

In [43]:
print('Google' in it_companies)

True

11. Trier la liste en utilisant la m√©thode sort()

In [52]:
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

In [53]:
it_companies.reverse()
print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

13. Supprimez les 3 premi√®res entreprises de la liste.

In [54]:
del it_companies[0:3]
print(it_companies)

['Google', 'Facebook', 'Apple', 'Amazon']

14. Supprimez les 3 derni√®res entreprises de la liste.

In [55]:
del it_companies[4:7]
print(it_companies)

['Google', 'Facebook', 'Apple', 'Amazon']

15. Supprimez la ou les entreprises informatiques du milieu de la liste.

In [56]:
it_companies.pop(3)
it_companies

['Google', 'Facebook', 'Apple']

16. Supprimez la premi√®re entreprise informatique de la liste

In [57]:
it_companies.pop(0)
it_companies

['Facebook', 'Apple']

18. Retirer la derni√®re entreprise informatique de la liste

In [59]:
it_companies.pop(1)
it_companies

['Facebook']

19. Supprimez toutes les entreprises informatiques de la liste

In [60]:
it_companies.pop(0)
it_companies

[]

20. D√©truire la liste des entreprises informatiques

In [61]:
it_companies.clear()
it_companies

[]

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [60]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Note', 'Express', 'MongoDB']
B = front_end + back_end
print(B)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Note', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [6]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

1. Trier la liste et trouver l'√¢ge minimum et maximum.

In [7]:
ages.sort()
print(ages)
print(max(ages))
print(min(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
26
19

2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.

In [8]:
ages.extend([19,26])
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).

In [9]:
i=int(len(ages)/2)
age_moyen=ages[i]
print(age_moyen)

24

4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).

In [10]:
moyen = sum(ages)/12
print(moyen)

22.75

4. Trouver l'intervalle des √¢ges (max moins min)

In [11]:
a = max(ages) - min(ages)
print(a)

7

5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [12]:
a=abs(min(ages)-moyen)
b=abs(max(ages)-moyen)
if a<b:
    print("min(ages)-moyen<max(ages)-moyen")
else:
    print("min(ages)-moyen>max(ages)-moyen")

min(ages)-moyen>max(ages)-moyen

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

1.Cr√©er un dictionnaire vide appel√© dog

In [18]:
dog={}

2.Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.

In [21]:
dog['nom']="SORO"
dog['la couleur']="Jaune"
dog['la race']="noir"
dog['les pattes']=4
dog["l\'age"]=25
print(dog)

{1: 'SORO', 2: 'SORO', 'nom': 'SORO', 'la couleur': 'Jaune', 'la race': 'noir', 'les pattes': 4, "l'age": 25}

3.Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.

In [24]:
student={'nom':'SORO', 'prenom':'Frejus', 'le sexe':'Masculin',"l'age":24, "l'etat civil":'celibataire', 'Competences':['Maths','Fr','PC'], 'le pays':'Senegal', 'la ville':'Mbour', 'Adresse':0}
print(student)

{'nom': 'SORO', 'prenom': 'Frejus', 'le sexe': 'Masculin', "l'age": 24, "l'etat civil": 'celibataire', 'Competences': ['Maths', 'Fr', 'PC'], 'le pays': 'Senegal', 'la ville': 'Mbour', 'Adresse': 0}

4.Obtenez la longueur du dictionnaire student

In [7]:
print(len(student))

9

5.R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.

In [8]:
x=student.get("Competences")
print(x)
print(type(x))

['Maths', 'Fr', 'PC']
<class 'list'>

6.Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences

In [12]:
student['Competences']=student['Competences']+["philo", "HG"]
student

{'nom': 'SORO',
 'prenom': 'Frejus',
 'le sexe': 'Masculin',
 "l'age": 24,
 "l'etat civil": 'celibataire',
 'Competences': ['Maths', 'Fr', 'PC', 'philo', 'HG', 'philo', 'HG'],
 'le pays': 'Senegal',
 'la ville': 'Mbour',
 'Adresse': 0}

7.Obtenez les cl√©s du dictionnaire sous forme de liste

In [14]:
print(student.keys())

dict_keys(['nom', 'prenom', 'le sexe', "l'age", "l'etat civil", 'Competences', 'le pays', 'la ville', 'Adresse'])

8.Obtenir les valeurs du dictionnaire sous forme de liste

In [15]:
print(student.values())

dict_values(['SORO', 'Frejus', 'Masculin', 24, 'celibataire', ['Maths', 'Fr', 'PC', 'philo', 'HG', 'philo', 'HG'], 'Senegal', 'Mbour', 0])

9.Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()

In [17]:
student.items()

dict_items([('nom', 'SORO'), ('prenom', 'Frejus'), ('le sexe', 'Masculin'), ("l'age", 24), ("l'etat civil", 'celibataire'), ('Competences', ['Maths', 'Fr', 'PC', 'philo', 'HG', 'philo', 'HG']), ('le pays', 'Senegal'), ('la ville', 'Mbour'), ('Adresse', 0)])

10.Supprimer un des √©l√©ments du dictionnaire

In [20]:
del student['nom']
student

{'prenom': 'Frejus',
 'le sexe': 'Masculin',
 "l'age": 24,
 "l'etat civil": 'celibataire',
 'Competences': ['Maths', 'Fr', 'PC', 'philo', 'HG', 'philo', 'HG'],
 'le pays': 'Senegal',
 'la ville': 'Mbour',
 'Adresse': 0}

11.Supprimer un des dictionnaires

In [25]:
student.clear()
student

{}

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>